.game-of-life {
  position: relative;
}

.cell {
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  cursor: pointer;
}

.cell.dead {
  background-image: none;
  background-color: transparent;
}

.binary-cell {
  background-image: url(../images/cells/alive.png);
}

.aging-cell {
  background-image: url(../images/cells/overlay.png);
}

.x-tool-gol-help {
    background-image: url(../images/help.png);
}
